<html>
<head>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<style></style>
</head>

<body>
 
<div class="main" id="section1">
  <div class="about-section">
  <h1>About Us </h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
  <a class="scroll-down" address="true" href="#section2"></a>
</div>
  
</div>

<div class="main" id="section2">
  <div class="row">
      <div class="column card ml-4 col-sm-6">
        
          <div class="column center-photo my-4">
            <div> 
              <%= image_tag("pp.jpg", {:style => "width:100%;",:class => "photo-radius"}) %>
            </div>
          </div>
          <div class="column center">
            <div class="container mt-4">
              <h2>Faruk GÜRLESİN</h2>
                <p class="title">Web Developer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>fgurlesin19@posta.pau.edu.tr</p>
                <p><%= link_to 'Profile' , root_path() ,class:"btn btn-dark btn-lg my-3 " %></p>
            </div>
          </div>
         
      </div>
      
      <div class="column card ml-4 col-sm-6">
        <div class="row">
          <div class="column center-photo my-4">
            <div> 
              <%= image_tag("pp.jpg", {:style => "width:100%;",:class => "photo-radius"}) %>
            </div>
          </div>
          <div class="column center">
            <div class="container my-4">
              <h2>İhsan Berke BUĞDAY</h2>
                <p class="title">Web Developer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>ibbugday19@posta.pau.edu.tr</p>
                <p><%= link_to 'Profile' , root_path() ,class:"btn btn-dark btn-lg my-3 " %></p>
            </div>
          </div>
        </div>  
      </div>
</body>
</html>
