 <div class="container" id="home-container"> 
    <div class="jumbotron text-center ">
      <h2 class="display-4">My Blog</h2>
      <p class=" mt-5 h2 ">Contrary to popular belief, Lorem Ipsum is not simply random text.  </p>
      <hr class="my-5">
      <p class="h5">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.  </p>
      <%= link_to "Sign Up!" , signup_path , class:"btn btn-dark btn-lg my-5" %>
    </div>
  </div>
</div> 