  <div class="container row justify-content-center ">
    <div class="col-12">
      <h1 class="text-center mt-4">  User <strong> <%=@user.username.capitalize%></strong>'s articles </h1>
      <%= render 'articles/article_category'  %>
    </div>
    
    
</div>