<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        <%= comment.name %>
        <%= comment.comment%>
        </p>
      </div>
    </div>
  </article>
</div>