<%if logged_in?%>
<%= form_for [@article, @article.comments.build] do |f| %>
 <div class="container ">
    <div class="row ">
        <div class="col-md-12 col-md-offset-3">
            <div class="panel panel-info ">
                <div class="panel-body pb-cmnt-textarea"> 
                     
                  <div class="form-group row">  
                    <div class="col-12 pb-cmnt-textarea"> 
                      <%=f.text_area :comment , input_html: {class: 'textarea'} , placeholder:"Comment" ,wrapper: false  %>
                    </div>
                  </div>
                         
                    <form class="form-group row">  
                         <%=f.submit "Add Comment" ,class: "btn btn-dark"%>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
 
<%end%>
 <%end%>

