<%if logged_in?%>
<%= form_for [@article, @article.comments.build] do |f| %>
 <div class="container pb-cmnt-container">
    <div class="row ">
        <div class="col-md-12 ">
            <div class="panel panel-info ">
                <div class="panel-body pb-cmnt-textarea"> 
                     
                  <div class="form-group row">  
                    <div class="col-12 "> 
                      <%=f.text_area :comment  , class:"pb-cmnt-textarea" ,  placeholder:"Add your comment"   %>
                    </div>
                  </div>
                         
                    <form class="form-group row">  
                         <%=f.submit "Add Comment" ,class: "btn btn-dark"%>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
 
<%end%>
 <%end%>

