@import "bootstrap";

.navbar{
  background-color: #353535 !important ;
}

.bg-dark{
  background-color: #353535 !important;
}
.navbar-brand{
  font-size:  2.5rem ;
}

#card_body{ 
  background-color:#FFFFFF ; 
  margin-top: 10px; 
  border-radius: 5px;
}

#card_body_show{ 
  background-color:#FFFFFF ; 
  margin-top: 10px; 
  border-radius: 20px;
}

#container_style{
  background-color: #ffffffc4; 
} 
 
#card_header{
  border-radius: 10px;
  background: transparent;
}


h1{
  color : black;
}
p{
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.nav-link{
  color: antiquewhite !important;
  font-size: 1.2em;
  float: left;
  font-weight: 400;
  text-align: center;
  margin-left: 10px; 
}

.nav-link:hover{
  color: #D9D9D9 !important;
}

#home-container{
  margin-top: 25px;
  margin-bottom: 25px; 
}

#logo{
  float: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  color:antiquewhite !important;
}

.jumbotron{
  background-image: asset-url('banner1.jpg') ;  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; 
  height: 600px; 
}

 
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: #D9D9D9;
  
}

#sticky-footer {
  flex-shrink: none;
}
 

.apple_pagination { 
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  background:transparent; 
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span { 
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #9C9C9C; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #EBEBEB;
    background-color: #393939;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.4;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;}
  .apple_pagination a {
    font-weight: bold;
    text-decoration: none;
    color: #393939; 
     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif ;
     outline: none; 
     padding: 5px 0;
     width: 30px;
     text-align: center;  }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-shadow: #EBEBEB 1px 1px 1px; 
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em; 
      line-height: 1.4em; 
      border-radius: 1em;
      text-decoration: underline; 
    }

    
    .sidebar-outer {
      margin-top: 150px;
      position: relative;
  }
  .fixed {
      position: fixed;
  }