<div class="mt-10">
  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Web Tabanlı Tasarım Projesi", "https:www.instagram.com/chopinhauer", class: "text-white font-weight-bold font-italic " %></small>
      </div>
  </footer>
</div>